<div class="content center">
  <div class="row">
    <form class="example-form">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Locality, City</mat-label>
        <input type="text" aria-label="Number" matInput [matAutocomplete]="auto" (input)="_filter($event)" [(ngModel)]="location" name="location" >
        <mat-icon matSuffix>search</mat-icon>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <form class="date-width arrival">
    <div class="row">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Arriving on</mat-label>
        <input matInput [min]="minDate" [matDatepicker]="pickerArrival" (click)="pickerArrival.open()" [(ngModel)]="parkingInfo.arrivalDate" name="arrivalDate" readonly>
        <mat-datepicker-toggle matSuffix [for]="pickerArrival"></mat-datepicker-toggle>
        <mat-datepicker touchUi #pickerArrival></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>In Time</mat-label>
        <input matInput [matAutocomplete]="autoArrival" [(ngModel)]="parkingInfo.arrivalTime" name="arrivalTime">
        <mat-icon matSuffix>access_time</mat-icon>
        <mat-autocomplete #autoArrival="matAutocomplete">
          <mat-option *ngFor="let option of time" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </form>
  <form class="date-width departure">
    <div class="row">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Leaving on</mat-label>
        <input matInput [min]="minDate" [matDatepicker]="pickerDeparture" (click)="pickerDeparture.open()" [(ngModel)]="parkingInfo.departureDate" name="departureDate" readonly>
        <mat-datepicker-toggle matSuffix [for]="pickerDeparture"></mat-datepicker-toggle>
        <mat-datepicker touchUi #pickerDeparture></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Out Time</mat-label>
        <input type="text" aria-label="Number" matInput [matAutocomplete]="autoDeparture" [(ngModel)]="parkingInfo.departureTime" name="departureTime">
        <mat-icon matSuffix>access_time</mat-icon>
        <mat-autocomplete #autoDeparture="matAutocomplete">
          <mat-option *ngFor="let option of time" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </form>
  <div class="row center">
    <button class="button" mat-raised-button color="primary" (click)="checkAvailability()" [disabled]="!isValid()">
      <span style="margin: 0 10px 0 10px">Check Availability</span>
      <mat-icon matSuffix>navigate_next</mat-icon>
    </button>
  </div>
  <div class="row status-true" *ngIf="availability === true">
    <h3 style="color: #00b894">Parking is available</h3>
    <div class="row book-block">
      <form class="veh-num">
        <mat-form-field appearance="outline">
          <mat-label>Vehicle Number</mat-label>
          <input matInput [(ngModel)]="parkingInfo.vehicleNumber" name="vehicleNumber">
          <mat-icon matSuffix>drive_eta</mat-icon>
        </mat-form-field>
      </form>
      <form class="veh-type">
        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput [(ngModel)]="parkingInfo.phoneNumber" name="phoneNumber">
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
      </form>
      <form style="padding-top: 5px">
        <button class="button-book" mat-raised-button color="warn" (click)="book()" *ngIf="!booking">
          <span style="margin: 0 10px 0 20px">
            Book
          </span>
          <mat-icon class="mat-icon-size" matSuffix>done</mat-icon>
        </button>
        <h3 *ngIf="booking" style="color: #00b894">Booked</h3>
      </form>
    </div>
  </div>
  <div class="row status-false" *ngIf="availability === false">
    <h3 style="color: #d63031">
      Unfortunately parking is full here
    </h3>
    <mat-icon class="mat-icon-false" matSuffix>sentiment_dissatisfied</mat-icon>
  </div>
</div>
