.example-form
  min-width: 150px
  max-width: 500px
  width: 100%
  margin: auto
  padding-top: 80px

.full-width
  width: 100%

.date-width
  min-width: 70px
  max-width: 230px
  width: 100%
  margin: auto
  display: inline-block

.arrival
  padding-right: 10px

.departure
  padding-left: 10px

.center
  text-align: center
  padding-top: 25px

.button
  height: 45px
  max-width: 200px
  width: 100%
